<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Airline Reservation</title>
		<!-- bootstrap css -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
	  </head>

<body>
<!-- Navbar content -->
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Airline Reservation System</a>
		</div>
			<a class="btn btn-primary m-2" href="/login">Login</a>

			<a class="btn btn-primary m-2" href="/register">Register</a>
	  </nav>
	  <div class="d-flex m-3 flex-column">
		<h3 class=>Search for flights</h3>
		<form action="/">
			<div class="form-floating mt-2 ">
				<input type="" class="form-control" id="sourceSearchBar" placeholder="Flight name">
				<label for="sourceSearchBar">Source City / Airport Name</label>
			  </div>
			  <div class="form-floating mt-2">
				<input type="" class="form-control" id="destSearchBar" placeholder="Flight name">
				<label for="destSearchBar">Destination City / Airport Name</label>
			  </div>
			  <div class="mt-2">
				<p> Departure Date: <input type="date" name="Departure_Date"/> </p> 
			  </div>
			  <div class="mt-2">
				<p> Return Date: <input type="date" name="Return_Date"/> <small>Leave return date empty for one-way trips</small> </p> 
				
			  </div>
			<button type="searchFunction"class="btn btn-primary mt-2">Search</button>
		  </form>
		</div>
	  </div>
	  <h3 class="m-3">Flights</h3>
	  <!--TO FILL LATER-->
	  <table class="m-3 table table-striped-columns">
		<thead class="table-dark">
			<tr>
				<th> Time </th>
				<th> Post </th>
			</tr>
		</thead>
		<tbody class="table-group-divider">

		</tbody>
	  </table>

<!--
	<div class="d-flex justify-content-center align-items-center" style="height:1000px;">
		

		<div class="container overflow-hidden text-center">
			<div class="row gx-5">
				<h1></h1>
			</div>
			{% if not message %}
			
			<div class="row gx-5">
			  <div class="col">
			   <div class="p-3 border bg-light"><a href="/login">Login</a></div>
			  </div>
			  <div class="col">
				<div class="p-3 border bg-light"><a href="/register">Register</a></div>
			  </div>
			</div>
			{% endif %}
		  </div>    
	</div>



	


<!-- 
{% if message %}
	<a href="/logout">Logout</a>
	<a href="/remove_account">Remove Account</a>
	<p class="message">You are logged in {{message}}. You have {{num}} follower(s)</p> </br>
	<a href="/tweets">View your tweets</a> </br>
	<a href="/find_people">Find people to follow</a> </br>
	<a href="/unfollow">Unfollow someone</a> </br>
	<a href="/view_followed">View people you have followed</a> </br>
	</br>

        <h4>15 most recent tweets from you and your followers </h4> </br>

	{% for line in tweets%}
	        <p>{{line}}</p>
	        <hr>
	{% endfor %}
	{% endif %}
-->
	<!-- bootstrap scripts -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>
