<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer View</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar content -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home">Airline Reservation System</a>
        </div>
        <a class="btn btn-primary m-2" href="./logout">Logout</a>
    </nav>

    <div class="d-flex flex-column m-3">
        <a class="btn btn-secondary btn-lg" href="./purchaseTicketPage">Back</a>
        <h3 class="mt-3">Purchase this ticket</h3>
		<h5 class="mt-3">Airline Name: {{flight_data['airline_name']}}</h5>
		<h5 class="mt-1">Flight Number: {{flight_data['flight_num']}}</h5>
		<h5 class="mt-1">Departure Timestamp: {{flight_data['departure_timestamp']}}</h5>
		<h5 class="mt-1">Arrival Timestamp: {{flight_data['arrival_timestamp']}}</h5>
		<h5 class="mt-1">Departure Airport: {{flight_data['departure_airport']}}</h5>
		<h5 class="mt-1">Arrival Airport: {{flight_data['arrival_airport']}}</h5>
		<h5 class="mt-1">Price: {{flight_data['sell_price']}}</h5>
    </div>
	
	<hr>

    <div class="d-flex m-3 flex-column">
		<form action="./purchaseTicketReq?airline_name={{flight_data['airline_name']}}&flight_num={{flight_data['flight_num']}}&departure_timestamp={{flight_data['departure_timestamp']}}" method="POST">
			
			<div class="form-floating mt-2 ">
				<p class="">Card Type: </p>
				<div class="radio m-3">
					<label><input type="radio" name="card_type" value="Credit" checked>&nbsp;Credit</label>
				</div>
				<div class="radio m-3">
					<label><input type="radio" name="card_type" value="Debit">&nbsp;Debit</label>
				</div>
			</div>
			<div class="form-floating mt-2 ">
				<input type="number" min="0" max="9999999999999999" name="card_number" class="form-control" id="cardnumber"
					placeholder="Card Name" required>
				<label for="cardnumber">Card Number</label>
			</div>
			<div class="form-floating mt-2">
				<input type="text" name="name_on_card" class="form-control" id="cardname"
					placeholder="Name On Card" required>
				<label for="cardname">Name On Card</label>
			</div>
			<div class="mt-2">
				<p> Expiration Date: <input type="date" name="expiration_date" required /> </p>
			</div>
			<button type="submit" class="btn btn-primary mt-2">Purchase</button>
		</form>
	</div>

	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
    

    <!-- bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>


</html>