<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customer View</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar content -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="./home">Airline Reservation System</a>
        </div>
        <a class="btn btn-primary m-2" href="./logout">Logout</a>
    </nav>

    <div class="d-flex flex-column m-3">
        <a class="btn btn-secondary btn-lg" href="./home">Back</a>
        <h3 class="mt-3">Spending History</h3>
    </div>

    <div class="d-flex flex-column m-3">
        <h4 class="mt-3">Total amount of money spent {{total_spending_header}}: {{total_spending_data}}</h4>
    </div>

    <div class="d-flex m-3 flex-column">
		<form action="./trackSpendingReq" method="POST">
            <div class="mt-2">
                <p>
                    <b>Optional Date Range</b>
                    <small> <br> Default: Last 6 months</small>
                </p>
            </div>
			<div class="mt-2">
				<p> Beginning Date: <input type="date" name="start_date" required /> </p>
			</div>
			<div class="mt-2">
				<p> End Date: <input type="date" name="end_date" required /></p>
			</div>
			<button type="searchFunction" class="btn btn-primary mt-2">Search</button>
		</form>
	</div>
    
    {% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}

	<div class="container text-center">
		<div class="row">
		    <div class="col">
			    <h3 class="m-3">Monthly Spendings History {{chart_data_header}}</h3>
				<table class="m-3 table table-striped-columns">
					<thead class="table-dark">
						<tr>
							<th> Year </th>
							<th> Month </th>
							<th> Total Spending </th>
						</tr>
					</thead>
					<tbody class="table-group-divider">
						{% for data in chart_data %}
						<tr>
							<td>{{data['year']}}</td>
							<td>{{data['month']}}</td>
							<td>{{data['total_spending']}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
                
				<a href="./trackSpending" class="btn btn-primary mt-2"> Reset to Default</a>
		    </div>
		</div>
    </div>
                        
    

    <!-- bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>


</html>